
ProjetoFirebase/.idea/deploymentTargetDropDown.xml
ProjetoFirebase/.idea/encodings.xml
ProjetoFirebase/.idea/gradle.xml
ProjetoFirebase/.idea/misc.xml
ProjetoFirebase/build.gradle
ProjetoFirebase/gradle/wrapper/gradle-wrapper.properties
